.gameContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    border: 2px solid black;
}

.cell {
    border: 2px solid black;
    width: 7.5vw;
    height: 12vh;
    font-size: 10vh;
    cursor: pointer;
}