body{
    width: 100vw;
    display: flex;
    justify-content: center;
}

td {
    border: 1px solid black;
    width: 7.5vw;
    height: 15vh;
}

.test {
    background-color: white;
}

p {
    display: flex;
    justify-content: center;
    font-size: 4vh;
}